.comment-card {
    margin-bottom: 20px;
  }
  
  .reply-field {
    margin-top: 10px;
    width: 100%;
  }
  
  .comment-container {
    max-height: 400px;  // establecer una altura máxima adecuada
    overflow-y: auto;  // habilitar el desplazamiento vertical
  }

  .modal-title {
    background: #673ab7;
    color: #fff;
    padding: 10px;
  }