.statistics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  
  .year-field {
    margin-bottom: 20px;
  }
  
  .mat-table {
    width: 100%;
  }
  