<app-navbar></app-navbar>
<div class="article-form-container mat-typography">
  
  <h2 class="form-title">{{ isEditing ? 'Editar Artículo' : 'Crear Artículo' }}</h2>
  <form [formGroup]="articleForm" (ngSubmit)="submitArticle()">
    <mat-form-field class="form-field">
      <mat-label>Nombre</mat-label>
      <input matInput id="name" formControlName="name" required>
      <mat-error *ngIf="name?.invalid && name?.touched">Nombre es requerido.</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Cuerpo</mat-label>
      <textarea matInput id="body" formControlName="body" required></textarea>
      <mat-error *ngIf="body?.invalid && body?.touched">Cuerpo es requerido.</mat-error>
    </mat-form-field>
    <mat-checkbox class="form-field" id="isPrivate" formControlName="isPrivate">Privado</mat-checkbox>
    <mat-form-field class="form-field">
      <mat-label>Plantilla</mat-label>
      <mat-select id="template" formControlName="template" required>
        <mat-option value=0>Plantilla 1</mat-option>
        <mat-option value=1>Plantilla 2</mat-option>
        <mat-option value=2>Plantilla 3</mat-option>
        <mat-option value=3>Plantilla 4</mat-option>
      </mat-select>
      <mat-error *ngIf="template?.invalid && template?.touched">Plantilla es requerida.</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Imagen</mat-label>
      <input matInput id="image1" formControlName="image1">
    </mat-form-field>
    <mat-form-field class="form-field" *ngIf="mostrarImg2">
      <mat-label>Imagen 2</mat-label>
      <input matInput id="image2" formControlName="image2">
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" class="custom-button" type="submit">{{ isEditing ? 'Guardar Cambios' : 'Crear Artículo' }}</button>
      <span class="spacer"></span>
      <button mat-raised-button color="accent" class="custom-button" [routerLink]="['/home']">Volver</button>
    </div>
  </form>
</div>
