.edit-user-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  
    .form-field {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  