.register-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.mat-card {
  padding: 20px;
}

.form-field {
  width: 100%;
  margin-bottom: 10px;
}

.submit-button {
  width: 100%;
  margin-top: 10px;
}

.title {
  text-align: center;
  margin-bottom: 1em;
  font-weight: 600;
  font-size: xx-large;
  color: #673ab7;
}
